body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav {
  position: fixed;
  z-index: 1;
  background: #fafafa;
}

.movie-cover {
  height: 100%;
}
.movie-cover p {
  line-height: 100%;
  text-align: center;
  font-weight: bold;
}

.text-decoration-none,
.text-decoration-none:hover {
  color: #313131;
}

.detail-hero {
  background-position: center !important;
  background-size: cover !important;
}
